@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

body {
    font-family: 'Cinzel Decorative', cursive;
    color: hsl(240, 60%, 55%);
    background-color: hsl(180, 40%, 70%);
    border: 3px solid black;
}

h1 {
    color: yellow;
    margin: 0px;
    background-color: darkgreen;
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: bold;
}

button {
    color: hsl(50, 0%, 0%);
}

button:hover {
    color: green;
}

.text-link {
    color: black;
}

.text-link:hover {
    color: orangered;
}

.borderpic {
    color: brown;git add.
}
